/* base.css */
* {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Work Sans', sans-serif; 
}

#logo{
    width: 80px;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    padding: 0rem .5rem;
    
} 