footer{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
}

#cookies:hover{
    color:rgb(199, 42, 160);
    transform: rotate(15deg); /* not working */
}

#cookies{
    /* background-color: darkcyan; */
}