/* form.css */
* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif; 
}
input {
    display: block;
}
label{
    display: block;

}

section{
    background-color: tan;
    padding: 3rem;
    border-radius: 15px 50px;
    border: .1rem solid black;
}

form{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}