/* form.css */
input {
    display: block;
}
label{
    display: block;
}
textarea{
    display: block;
}
button{
    display: block;
}

section[id="loginForm"]{
    background-color: tan;
    padding: 3rem;
    border-radius: 15px 50px;
    border: .1rem solid black;
}

form{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}