/* CTRL + SHIFT + R = HARD RELOAD BROWSER */
nav {
    position: fixed;
    display: flex;
    height: 18vh;
    width: 100%;
    /* background-color: #6fbedd; */
    /* justify-content: space-between; */
    background-image: 
        linear-gradient(
            to right,
            #6fbedd,
            #538ea5 95%
            /* rgb(221, 164, 164) 70% */
            /* rgb(199, 42, 160) 20% */
        );

}

.container {  
    display: flex;  
}

@media all and (max-width: 600px) {  
    
    .container {  
      flex-wrap: wrap;  
    }  
      
    .container > li {  
      flex-basis: 50%;  
    }
  
}

nav ul {
    /* font-family: 'Dazzle Unicase', sans-serif;  */
    font-family: 'dazzle-unicase', sans-serif;
    /* font-style: normal; */
    align-items: center;
    flex-direction: column;

}

nav ul li{
    /* display: inline-block; */
    padding: 0rem .5rem;
    /* flex-direction: column; */
    flex: 1;
    /* color: #000; */
}

nav ul li a{
    color:#1c2a3a;
    display: block;
}
nav ul li a:hover{
    color:rgb(199, 42, 160);
    transform: rotate(8deg);
}

#logo{
    width: 4rem;
    /* transition: width 2s, height 2s, transform 2s; */
    background: #dfeaee;
    border-radius: 1px;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    /* border: solid .05rem #1c2a3a; */
    animation: slide-in 400ms;
    animation-timing-function: linear;
}

#logo:hover{
    transform: rotate(8deg);
    background: #6fbedd;
    border-radius: 50%;
}

/* CSS ANIMATIONS //////////////////////////// */
@keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

@keyframes grow-and-shrink1 {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.05);
}
100% {
    transform: scale(1);
}
}

#profile:hover {
    animation: grow-and-shrink 1000ms;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
    color: #59567c;
    font-weight: 900;
    font-size: 3.1rem;
    background-color: #423F6A;
    box-shadow:0px 6px 5px rgba(0, 0, 0,.2);  

}

li a[href="logout.php"]:hover,li a[href="index.php"]:hover ,li a[href="group.php"]:hover {
    animation: grow-and-shrink1 1000ms;
    animation-iteration-count: 1; 
    animation-timing-function: ease-in-out;
    border-radius: 1rem;
    box-shadow:0px 6px 5px rgba(0, 0, 0,.2);  

}

@keyframes drop-in {
    from {
      transform:
        rotate(-10deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

nav {
animation: drop-in 700ms;
}

nav:hover {
    background-color: #7e78b8;
}

#logo:hover{
    animation: grow-and-shrink 1000ms;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
    box-shadow:0px 6px 5px rgba(0, 0, 0,.2);  

}

