nav {
    position: fixed;
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: #9892C7;

}

nav ul {
    /* font-family: 'Dazzle Unicase', sans-serif;  */
    font-family: 'dazzle-unicase', sans-serif;
    /* font-style: normal; */
    /* flex-direction: column; */

}

nav ul li{
    /* display: inline-block; */
    padding: 0rem .5rem;
    /* flex-direction: column; */
    flex: 1;
    color: #000;
}

#logo{
    width: 1rem;
    /* display: inline-block; */
    flex: 1;

}