/* login.css */
body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    background-color: cornsilk;
    color:#1c2a3a;

}

/* everything but the nav */
main{
    padding-top: 22rem;
    padding: 13rem 4rem;
    /* background-color: rgb(219, 212, 201); */
}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    padding:3em 3em;
    padding-top: 7em;
    margin: auto;
    height: 100%;
    /* margin-top: 3em; */
    box-shadow:0px 6px 5px rgba(0, 0, 0,.2);  
    /* border-radius: 5px; */
}

/* /////////////////////////////////// */

/* form.css */
form input {
    display: block;
}
form label{
    display: block;
}
form textarea{
    display: block;
}
form button{
    display: block;
}

section[id="regForm"]{
    /* background-color: rgba(236, 108, 225, 0.2); */
    background-image: 
        linear-gradient(
            to right,
            rgb(221, 164, 164),
            rgb(199, 42, 160) 40%
        );
    padding: 3vh;
    border-radius: 15px 50px;
    border: .2rem solid #6fbedd;
}

section h2 {
    font-size: 1.5rem;
}
section h2 a:hover {
    color:#bddfec;

}

section label {
    font-weight: 700;
}
form{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

input {
    font-size: 1.5rem;
    border: 1px solid rgb(153,153,153);
    border-radius: 4px;
}

button[type="submit"]{
    background: #6fbedd;
    color:white;
    font-size: 2em;
    width:200px;
    height:50px;
    border: transparent;
    /* padding-top: 1rem; */
}

/* ANIMATION CSS ///////////////////////////////////////*/

@keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

#formSection {
animation: drop-in 1000ms;
}
h1, h2, h2 a,label, section[id="regForm"]{
    animation: drop-in 1500ms;
}

/* button[type="submit"]{
animation: drop-in 2000ms;
} */

@keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }

/* button[type="submit"] {
animation: grow-and-shrink 4000ms;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
} */

button[type="submit"] {
border: 0;
/* background: #0087cc; */
border-radius: 4px;
box-shadow: 0 5px 0 #1c2a3a;
color: white;
cursor: pointer;
/* font: inherit; */
margin-top: 1rem;
outline: 0;
/* padding: 12px 20px; */
padding-bottom: .5rem;
transition: all .1s linear;
}
button:active {
box-shadow: 0 2px 0 #1c2a3a;
transform: translateY(3px);
}

/* MORE transitions */

input:hover , select:hover , textarea:hover {
    background: #bddfec;
    animation: grow-and-shrink 1000ms;
    animation-iteration-count: 1; 
    /* infinite */
    animation-timing-function: ease-in-out;

  }

button[type="submit"]:hover {
    animation: grow-and-shrink 1000ms;
    animation-iteration-count: 1; 
    animation-timing-function: ease-in-out;
}

/* High Contrast CSS //////////////////////////////////// */
.high-contrast-body{
  background-color: white; 
  padding: 10em 2em 10em;
}

.high-contrast-p{
  font-weight:bolder; 
  line-height: 1.5em;
  font-size: 1.5rem; 
  /* font-size: larger;   */
  letter-spacing: 2px; 
  padding: 1em 2em 1em;
}

.high-contrast-a{
  font-size: 1.5rem;
  /* font-size: larger;  */
  font-weight:bolder; 
  background-color: yellow;
}
.high-contrast-form{
  background-color: red;
}
.high-contrast-input{
  font-size: larger; font-weight:bolder;
}

.high-contrast-section{
  background-color: white;
  font-size: 1.5rem;
}

.high-contrast-main{
  font-size: 1.5rem;
  background-color: white;
}